.admin-dashboard {
  height: 90%;
  th, tr, td {
    font-size: 1.1rem;
  }
  .MuiTablePagination-root {
    p {
      font-size: 1.1rem;
    }
    .MuiTablePagination-toolbar {
      font-size: 1.1rem;
    }
  }
}

