.form {
  &__login{
    position: fixed;
    top: 30%;
    left: 40%;
    background-color: rgba(46, 37, 71, 0.7);
    padding: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 5;

    input {
      background-color: white;
    }
  }

  &__error{
    color: red;
    font-size: 0.6em;
  }
}
