.pet-page {
  padding: 30px 10px;
  padding-bottom: 10px;
  height: 90%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5%;
  box-shadow: 0 0 10px gray;

    &__text {
      white-space: pre-wrap;

      &.MuiTypography-root {
        font-size: 1rem;
        margin-bottom: 1.5em;
        line-height: 1.5;
      }
    }
  
  @media(max-width: 820px) {
    flex-direction: column;

    &__content {
      padding: 0 10%;
    }
  } 
  
  @media (max-width: 560px) {
    &__content {
      padding: 0 2%;
    }
  }
}
