.card {
  position: relative;
  margin-bottom: 1%;
  
  .MuiCardContent-root {
    padding-bottom: 10px;
  }

  &__title {
    &.MuiTypography-root {
      font-size: 1rem;
    }
  }
}

.gender-icon {
  position: absolute;
  top: 1%;
  left: 3%;
  z-index: 2;
  color: white;
  display: inline-block;
  border-radius: 15px;
}

.male {
  background-color: #3d5afe;
}

.female {
  background-color: #d81b60;
}


