.footer {
  padding: 20px 10px;
  text-align: end;

  &__content {
    &-text {
      padding-left: 0.3%;
    }
  }

  a {
    padding: 10px 3px;
  }
  
  a:hover {
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #d53a9d, #ffeb3b);
  }
}
