.pets-page {

  &__content {
    display: flex;
    gap: 3%;
  }

  &__filters {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
  }
}
